.mtBtn10 {
    margin-top: 10px;
}

.infoBackground {
    background-color: #607d8b;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 4px 20px 6px 20px;
}

.infoSize {
    border-radius: 20px;
    padding: 5px 15px 8px 15px;
!important;
}

/*MODAL*/
.modalFood {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentFood {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 13px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerFood {
    padding: 2px 16px;
    background-color: #fafafa;
    color: black;
    border-radius: 1rem!important;
    -webkit-border-radius: 1rem!important;
    -moz-border-radius: 1rem!important;
}

.modal-bodyFood {
    padding: 2px 16px;
}

.modal-footerFood {
    padding: 2px 16px;
    background-color: #fafafa;
    color: black;
    border-radius: 1rem!important;
    -webkit-border-radius: 1rem!important;
    -moz-border-radius: 1rem!important;
}

#modalExcluirPedido{
    height: 35% !important;
}

.alertCardapio {
    padding: 20px;
    background-color: #f4c78f; /* Red */
    color: #000000;
    margin-bottom: 15px;
    border-radius: 18px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: #952100;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}