body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e9e9e9;
}

main {
    flex: 1 0 auto;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.ml25 {
    margin-left: 25px;
}

.mt25 {
    margin-top: 25px;
}

.mt150 {
    margin-top: 120px;
}

.mt1rem {
    margin-top: 1rem;
}

.mb1rem {
    margin-bottom: 1rem;
}

.mt2rem {
    margin-top: 2rem;
}

.mb2rem {
    margin-bottom: 2rem;
}

.mrl1rem {
    margin-right: 1rem;
    margin-left: 1rem;
}

.fijo {
    position: fixed;
}

.ajusteContainer {
    max-width: none !important;
    width: 90% !important;
}

.font-bold {
    font-weight: bold !important;
}

div.title.font-bold.col.s10 {
    padding: 0 !important;
}

.fundoColor {
    background-color: #a8a8a8;
}

.fundoCollapse {
    background-color: white;
}

.pajuste {
    margin-block-start: 0.5em !important;
    margin-block-end: 0.5em !important;
}

.selectJumpCatForced {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
!important;
}

/*@media screen and (max-width: 600px) {*/
/*.tamCardLogin{*/
/*height: 300px;*/
/*}*/
/*.helperMinHeightCard{*/
/*height: 300px;*/

/*}*/
/*}*/

@media screen and (min-width: 601px) {
    .containerJumpcat {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
    }

    .containerJumpcatIndex {
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
    }
}

@media screen and (max-height: 600px) {
    .mtHome {
        margin-top: 10vh !important;
    }
}

@media screen and (min-height: 601px) {
    .mtHome {
        margin-top: 10vh !important;
    }
}

@media screen and (max-width: 993px) {
    .mtHome {
        margin-top: 15vh !important;
    }
}

.helperTextDecoration {
    color: #0063B1 !important;
}

.modalFooterHelper {
    padding: 0px 30px 20px 15px;
    text-align: right;
}

.font-small {
    font-size: 0.9rem !important;
}

.font-normal {
    font-size: 1rem !important;
}

.font-medium {
    font-size: medium;
}

.font-small-item {
    color: #545457;
    text-transform: capitalize !important;
}

.card-top {
    display: block;
}

.font-mediumCard {
    font-size: 1.2rem !important;
}

.btn-bloco {
    width: 90%;
}

.cardRegistroBody {
    border-bottom: solid 0.02rem;
    margin-bottom: 1rem;
!important;
}

.tituloEstiloso {
    font-size: 1.2rem;
}

.tituloEstilosoMaior {
    font-size: 2rem !important;
}

.tituloEstiloso:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 5em;
}

.tituloEstiloso:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 5em;
}

.collapsible-body-custom {
    padding: 0.9rem !important;
}

.btnThatFits i {
    font-size: 3.0rem !important;
}

.chipCategoriaItem {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chipColorCarboidrato {
    /*border-left: solid #e4e4e4!important;*/
    border-left: solid #9e9e9e !important;
    border-bottom: solid #9e9e9e !important;
}

.chipColorSalada {
    border-left: solid #16a968 !important;
    border-bottom: solid #16a968 !important;
}

.chipColorProteinaVegetal {
    border-left: solid #b76e4c !important;
    border-bottom: solid #b76e4c !important;
}

.chipColorProteinaAnimal {
    border-left: solid #ff3500 !important;
    border-bottom: solid #ff3500 !important;
}

.chipColorAdicional {
    border-left: solid #977de4 !important;
    border-bottom: solid #977de4 !important;
}

.chipColorGuarnicao {
    border-left: solid #e4a43a !important;
    border-bottom: solid #e4a43a !important;
}

.chipColorBebidas {
    border-left: solid #e453a9 !important;
    border-bottom: solid #e453a9 !important;
}

.chipColorBebidas {
    border-left: solid #9c9c05 !important;
    border-bottom: solid #9c9c05 !important;
}

listCtegoriaItem {

}

.adjustIconMargin {
    margin-right: 0 !important;
}

.adjustChipIcon {
    font-size: 12px !important;
}

.iconeGrande {
    font-size: 60px;
}

.mt-25 {
    margin-top: -0.2rem;
}

.pb1rem {
    padding-bottom: 2rem;
}

.statusCancelado {
    border-left: solid 6px #f44336;
}

.statusEmMovimento {
    border-left: solid 6px #ff9800;
}

.statusNovoPedido {
    border-left: solid 6px #2196f3;
}

.statusEntregue {
    border-left: solid 6px #4caf50;
}

.statusEmPreparo {
    border-left: solid 6px #9c27b0;
}

.statusFinalizadoPedido {
    border-left: solid 6px #000000;
}

.jumpCardDashboard {
    padding: 0 !important;
}

#lanche, #proteinaanimal, #proteinavegetal, #carboidrato, #guarnicao, #salada, #adicional, #bebida {
    display: none;
}

.pt25 {
    padding-top: 25px;
}

.pt05rem {
    padding-right: 0.5rem;
}

.fontStronger {
    font-weight: bold;
}

.mr1 {
    margin-right: 1rem !important;
}

.mb1rem {
    margin-bottom: 1rem !important;
}

.mainGradient {
    background: #e52d27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-contentFood {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.no-margin-bottom{
    margin-bottom: 0!important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.borderedTable{
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 5px;
    font-size: 0.8rem;
}
.sizeTd{
    height: 10px;
}
.containerTableRel{
    width: 90%;
    margin-left: 5%;
}
.corBtnSolicitar{
    background-color: #607d8b;
}
.corBtnSolicitar:hover{
    background-color: #455c6a;
    !important;
}

.borderTableRel{
    border: 1px solid black;
    !important;
}
.trTable:hover{
    background-color: #c6c6c6;
    color: black;
}

.iconSize{
    font-size: 2.5rem!important;
}

.iconColor{
    color:#b31217!important;
}