<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>HPMFood</title>
</head>

<body>
<main class="container">
    <section>
        <h1 class="center">
            HPM Food
        </h1>
    </section>
    <section class="row">
        <div class="col">

        </div>

        <div class="col">

        </div>
    </section>
</main>
</body>
</html>
